@charset "utf-8";

html,body {background-color:#212121;}

#root {position:relative;box-sizing:border-box;height:100%;min-height:100%;height:auto !important;min-width:1280px;padding:64px 0 0;color:#fff;background-color:#212121;}

#header {position:fixed;top:0;left:0;right:0;z-index:50;border-bottom:1px solid #000;background-color:#212121;}
#header .gnb ul:after {display:block;content:"";overflow:hidden;width:0;height:0;line-height:0;clear:both;}
#header .gnb ul li {float:left;position:relative;padding:20px;}
#header .gnb ul li a {display:block;line-height:24px;font-size:16px;font-weight:500;color:#fff;}
#header .gnb ul li.active:after {display:block;content:"";position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#fff;}

#header .searchBox {position:absolute;right:20px;top:50%;margin:-20px 0 0;}
#header .searchBox input[type="text"] {box-sizing:border-box;width:100%;height:40px;padding:5px 10px;color:#fff;border:1px solid #000;background-color:#212121;}

.contents {padding:50px 0 150px;}